In [4]:
def fib(n):
    a,b =0,1
    while a<n:
        print(a , end=' ')
        a , b = b , a + b
        print()

fib(100)

0
1
1
2
3
5
8
13
21
34
55
89

In [10]:
def fib2(n):
    result=[]
    a,b= 0,1
    while a < n:
        result.append(a)
        a,b = b,a+b
        return result
fib2(100)
print(fib2(100))

[0]

In [4]:
def f(a , L = None):
    if L is None:
        L=[]
        L.append(a)
        return L

In [43]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
        print("-"*40)
        for kw in keywords:
            print(kw,":",keywords[kw])

In [ ]:
cheeseshop("Limburger","It's very runny sir",
           "It's really very ,VERY runny,sir.",
           shopkeeper="Michael palin",
           client= "john cleese",
           sketch="Cheese Shop Sketch")

In [13]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [20]:
stack = [3,4,5]
stack.pop()
print(stack)

[3, 4]

In [ ]:
from collections import deque
queue = deque["Eric","john","Michael"]
queue.popleft()
print(queue)

In [38]:
squares= []
for x in range(10):
    squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
combs=[]
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x,y))
print(combs)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [37]:
a=[-1,1,66.25,333,1234.5]
del a[:]
print(a)

[]

Lebg local,Enclosing scope, Global Scope,Built-in-Scope

In [6]:
t= 12345,54321,'hello!'
u= t, (1,2,3,4,5,7)
print(u)

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5, 7))

tuple is not mutable but can contain mutable objects

In [50]:
nun=set('1214312214312')
print(nun)
a={x for x in 'abracadabra'if x not in 'abc'}
a

{'2', '3', '4', '1'}

{'d', 'r'}

In [65]:
tel ={'aman':1662, 'adarsh' :2352, }
tel['aman']
del tel['aman']
tel['run']=3232
list(tel)
sorted(tel)
'aman' in tel
'lar' not in tel
for k,v in tel.items():
    print(k,v)

adarsh 2352
run 3232

In [70]:
for i,v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [62]:
{x: x**4 for x in (234,2342,434)}

{234: 2998219536, 2342: 30084830081296, 434: 35477982736}

In [75]:
enumerate=['tic','tac','toe']
answers=['lancelot','the holy grail','blue']
for q,a in zip(enumerate,answers):
    print('what is your {0}? It is {1}.'.format(q,a))
for i in reversed(enumerate):
    print(i)
for l in sorted(answers):
    print(l)

what is your tic? It is lancelot.
what is your tac? It is the holy grail.
what is your toe? It is blue.
toe
tac
tic
blue
lancelot
the holy grail